/* Remove o duplo '>>' e usa um único '>' para submenus */
.sidebar-menu > li > a > .fa {
    content: '>';
    font-size: 16px; /* Ajuste o tamanho conforme necessário */
}

.sidebar-menu > li > a {
    position: relative;
}

.sidebar-menu > li > a > .fa:before {
    content: '>';
    font-family: FontAwesome; /* Certifique-se de que o FontAwesome está carregado */
}

.treeview-menu {
    margin-left: 15px; /* Ajuste o espaço do submenu */
}
